<div class="help">
<p>ISSS webShell, version 2.0.1.6(1)-release.<br/>
Created by Brian Cui and maintained by {{{command "officers"}}} of ISSS.</p>
<p>
These shell commands are defined internally. Type {{{command "help"}}} to see this list. Internal commands are highlighted and external <a href="http://www.ismyinternetworking.com" title="Is My Internet Working?" target="_blank">links</a> are underlined and can be clicked to run and be opened, respectively.</p>
<p>
  {{{command "register"}}}: Register for Security Day<br/>
  {{{command "news"}}}: View the next meeting<br/>
</p>
<p>
{{{command "officers"}}}: View the current list of ISSS officers.<br/>
{{{command "contact"}}}: View contact emails for the organization.<br/>
{{{command "sponsor"}}}: View corporate sponsorship information and opportunities.<br/>
</p>
<p>
{{{command "fb"}}}: Opens the <a href="https://www.facebook.com/groups/utisss/" target="_blank" title="ISSS Facebook Group">Facebook group</a>.<br/>
{{{command "sub"}}}: Opens the mailing list <a href="https://utlists.utexas.edu/sympa/subscribe/isss" target="_blank" title="ISSS Mailing List">subscribe</a> page.<br/>
{{{command "unsub"}}}: Opens the mailing list <a href="https://utlists.utexas.edu/sympa/sigrequest/isss" target="_blank" title="ISSS Unsubscribe from Mailing List">unsubsribe</a> page.<br/>
</p>
<p>
{{{command "git"}}}: View the site's source code and other developer information.<br/>
{{{command "clear"}}}: Clear the contents of the terminal.<br/>
</p>
</div>
